html {
	box-sizing: border-box;
}

body {
	margin: 0!important;
	font-size: 15px;
	font-family: "Gill Sans", Helvetica, sans-serif;
	font-weight: normal;
	font-size-adjust: auto;
	scroll-behavior: smooth;
	line-height: 1.5;
	background-color: #59BC7B;
	height: auto;
  }

header {
	margin: 0!important;
	text-align: left;
	font-size: 25px;
	font-family: "Gill Sans", Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	line-height: 1;
  }
  
header table {
	width:100%;
	height:100px;
	margin:0!important;
	font-family: "Gill Sans", Helvetica, sans-serif;
	text-align: center;
  }
  
header td {
	width:5%;
  }
  
header a {
	text-decoration: none;
	color: white;
	font-weight: lighter;
	padding-bottom: 100px;
	text-align:center;
  }
  
header h1 {
	text-align: center;
	padding-top: 0px;
	font-size: 40px;
	font-family: "Gill Sans", Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	line-height: 0;
  }

main {
	top: 60px;
	height: auto;
	color: white;
}

#overskrift {
	padding-left: 5%;
	font-size: 48px;
	font-family: bd-retrocentric, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#introduksjon {
	height: 70vh;
	font-size: 24px;
	position: relative;
	padding-left: 40%;
	padding-right: 5%;
}

#seksjon {
	height: 50vh;
	padding-top: 10%;
	padding-left: 30vh;
	padding-bottom: 10%;
	position: relative;
}

.pil {
	text-align: center;
	bottom: 3vh;
	position: absolute;
	opacity: .5;
  }
  
.pil:hover {
	text-align: center;
	bottom: 3vh;
	position: absolute;
	opacity: 1;
  }

footer {
	font-size: 18px;
	height: 200px;
	background-color: white;
	position: relative;
}

h1 {
	font-size: 48px;
}

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  .container .checkmark:after {
	   top: 5px;
	  left: 5px;
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  background: white;
  }