body {
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
}

header {
	background-color: aqua;
}

main {
	background-color: white;
}

footer {
	background-color: aqua;
}

h1 {
	font-size: 120px;
}


#innhold {
	display: block;
}