body {
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
}

header {
	background-color: aqua;
	height: 10vh;
	width: 100%;
	padding-left: 10rem;
	padding-right: 10rem;
}

main {
	background-color: white;
}

footer {
	background-color: aqua;
}

h1 {
	font-size: 48px;
}


#innhold {
	display: block;
}